<%- include('../admin/layout/adminHeader.ejs') -%>



    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Offer Management of Categories</h4>
                            <br>
                            <div class="text-right">
                                <a href="/admin/addoffersCat">
                                    <button type="button" class="btn btn-success ml-auto" data-toggle="button"
                                        aria-pressed="false" autocomplete="off">
                                        + ADD OFFERS
                                    </button>
                                </a>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Category Name</th>
                                            <th>Offer %</th>
                                            <th>Ending Time</th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (categoryOffers && categoryOffers.length> 0) { %>
                                            <% for (let i=0; i < categoryOffers.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <%= i + 1 %>
                                                    </td>
                                                    <td>
                                                        <%= categoryOffers[i].categoryname %>
                                                    </td>
                                                    <td>
                                                        <%= categoryOffers[i].percentage %> %
                                                    </td>
                                                    <td>
                                                        <%= categoryOffers[i].expiryDate.toLocaleDateString('en-US', {
                                                            year: 'numeric' , month: 'short' , day: '2-digit'
                                                            }).replace(/\//g, '-' ) %>
                                                    </td>

                                                    <td> <a href="/admin/deletecatOff?id=<%= categoryOffers[i]._id %>"" class="
                                                            delete-link"><i class="bi bi-trash3"></i></a></td>
                                                </tr>
                                                <% } %>
                                                    <% } else { %>
                                                        <tr>
                                                            <td colspan="6">Offers Not Found</td>
                                                        </tr>
                                                        <% } %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../admin/layout/adminFooter.ejs') -%>