<%- include('../admin/layout/adminSidebar.ejs') -%>
<%- include('../admin/layout/adminHeader.ejs') -%>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Coupon Management</h4>
              <div class="text">
                <a href="/admin/loadAddCoupon">
                  <button type="button" class="btn btn-success ml-auto" data-toggle="button" aria-pressed="false" autocomplete="off">
                    + ADD COUPONS
                  </button>
              </a>
            </div>
            <br>
            <div class="table-responsive">
              <table class="table " s>
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Coupon Code</th>
                    <th>Discount Amount</th>
                    <th>Activation Date</th>
                    <th>Expiry Date</th>
                    <th>Criteria Amount</th>
                    <th>Users Limit</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% function formatDate(date) { %>
                    <% if (date) { %>
                        <%= date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-') %>
                    <% } else { %>
                        N/A 
                    <% } %>
                  
                  <% } %>

                  <% for(let i = 0; i < coupon.length; i++) { %>
                  <tr>
                    <td><%= i + 1 %></td>
                    <td><%= coupon[i].couponname %></td>
                    <td><%= coupon[i].couponcode %></td>
                    <td><%= coupon[i].discountamount %></td>
                    <td><%= formatDate(coupon[i].activationdate) %></td>
                    <td><%= formatDate(coupon[i].expirydate) %></td>
                    <td><%= coupon[i].criteriaamount %></td>
                    <td><%= coupon[i].description %></td>
                    <td class="<%= coupon[i].status === 1 ? 'text-danger' : 'text-success' %>">
                        <%= coupon[i].status === 1 ? 'Blocked' : 'Active' %>
                      </td>
                      <td>
                        <a href="/admin/blockCoupon?id=<%= coupon[i]._id %>" class="badge <%= coupon[i].status === 1 ? 'badge-success' : 'badge-danger' %>"
                          onclick="return confirm('Are you sure? <%= coupon[i].status === 1 ? 'Do you want to Unblock?': 'Do you want to Block?' %>')">
                          <%= coupon[i].status === 1 ? 'LIST' : 'UNLIST' %>
                        </a>
                      </td>
                      
                    <td>
                      <a href="/admin/loadEditCoupon?id=<%= coupon[i]._id %>"><i class="bi bi-pencil-square"></i></a>
                    </td>
                    <td>
                      <a href="/admin/deleteCoupon?id=<%= coupon[i]._id %>"" class="delete-link"><i class="bi bi-trash3"></i></a>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../admin/layout/adminFooter.ejs') -%>
