<%- include('../admin/layout/adminSidebar.ejs') -%>
<%- include('../admin/layout/adminHeader.ejs') -%>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="container-fluid"> <!-- Add this container -->
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
          <h4 class="card-title">Products Management</h4>
          
          
          <br>
          <div class="text-right">
            <a href="/admin/addPro">
              <button type="button" class="btn btn-success ml-auto" data-toggle="button" aria-pressed="false" autocomplete="off">
                + ADD PRODUCTS
              </button>
            </a>
          </div>
          <div class="table-container table-responsive" style="overflow-x: auto;">
            <table class="table">
              <thead>
                <tr>
                  <th>No.</th>
                  
                  <th>Name</th>
                  <th>Images</th>
                  <th>Category</th>
                  <th>Quantity</th>
                  <th>Size</th>
                  <th>Price</th>
                  <th>Status</th>
                  
                  
                 
                </tr>
              </thead>
              <tbody>
                <% if(products.length>0){
                  for(let i=0;i<products.length;i++){  %>
                <tr>
                  <td><%= i+1 %></td>
                  
                  <td><%= products[i].productname %></td>
                  <td>
                    <img src="/products/images/<%= products[i].image[0] %>" alt="">

                  </td>
                  <td><%= products[i].category %></td>
                  <td><%= products[i].quantity %></td>
                  <td><%= products[i].size %></td>
                  <td><%= products[i].price %></td>
                  <%  if(products[i].blocked==0){ %>
                  <td class="text-success">Active</td>
                  <td><a href="/admin/block-pro?id=<%= products[i]._id %>" class="badge badge-danger" onclick="return confirm('Are you sure? Do you want to Block    <%= products[i].productname %>?')">UNLIST</a></td>
                 <% }else{ %>
                  <td class="text-danger">Blocked</td>
                  <td><a href="/admin/block-pro?id=<%= products[i]._id %>" class="badge badge-success" onclick="return confirm('Are you sure you? Do you want to Unblock    <%= products[i].productname %>?')">LIST</a></td>
                <% } %>
                  <td><a href="/admin/editPro?id=<%= products[i]._id %>" ><i class="bi bi-pencil-square"></i></a></td>
                  
                  <td>
                    <a href="/admin/deletePro?id=<%= products[i]._id %>" class="delete-link">
                      <i class="bi bi-trash3"></i> 
                    </a>
                  </td>

                </tr>
                <% } %>

                <% }else{ %>
                  <tr>
                      <td colspan="5">products Not Found</td>
                    </tr>
  
               <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>

</div>



<%- include('../admin/layout/adminFooter.ejs') -%>