<%- include('../layout/header.ejs') -%>

    <main class="main">
        <div class="page-header text-center" style="background-image: url('user/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">My Account<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                        href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                        aria-selected="true">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                        role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads"
                                        role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                        role="tab" aria-controls="tab-address" aria-selected="false">Address</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                        role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Sign Out</a>
                                </li>
                            </ul>
                        </aside><!-- End .col-lg-3 -->

                        <div class="col-md-8 col-lg-9">

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                    aria-labelledby="tab-dashboard-link">
                                    <p>Hello <span class="font-weight-normal text-dark" style="font-size: 24px;">
                                            <%= accountDetails.name %>
                                        </span></p>
                                    <br>
                                    From your account dashboard you can view your <a href="#tab-orders"
                                        class="tab-trigger-link link-underline">recent orders</a>, manage your <a
                                        href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>,
                                    and <a href="#tab-account" class="tab-trigger-link">edit your password and account
                                        details</a>.</p>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                    aria-labelledby="tab-orders-link">
                                    <table class="table table-cart table-mobile">
                                        <thead>
                                            <tr>
                                                <th style="width: 40%;">Product</th>
                                                <th style="width: 15%;">Price</th>
                                                <th style="width: 20%;">Order Status</th>
                                                <th style="width: 20%;"></th>
                                                <th style="width: 20%;"></th>
                                            </tr>
                                        </thead>
                                    
                                        <tbody>
                                            <% if (orderData) { %>
                                                <% for (let j = 0; j < orderData.length; j++) { %>
                                                    <% let product = orderData[j].products %>
                                                    <% for (let i = 0; i < product.length; i++) { %>
                                                        <% const value = product[i].productId; %>
                                    
                                                        <tr>
                                                            <td class="product-col">
                                                                <div class="product">
                                                                    <figure class="product-media">
                                                                        <a href="#">
                                                                            <img src="/products/images/<%= value.image[0] %>" alt="Product image">
                                                                        </a>
                                                                    </figure>
                                                                    <h3 class="product-title">
                                                                        <a href="#">
                                                                            <%= value.productname %>
                                                                        </a>
                                                                    </h3>
                                                                </div>
                                                            </td>
                                                            <td class="price-col">$<%= orderData[j].totalAmount %></td>
                                                            <td class="status-col">
                                                                <%= orderData[j].status %>
                                                            </td>
                                                            <td class="remove-col">
                                                                <% if (orderData[j].status === 'Delivered') { %>
                                                                    <a href="/returnPage" data-type="order" data-id="<%= orderData[j]._id %>"
                                                                        class="btn btn-outline-primary-2 return-button">RETURN<i class="icon-long-arrow-right"></i></a>
                                                                <% } else if (orderData[j].status === 'cancelled') { %>
                                                                    <a href="/viewMore" data-type="order" data-id="<%= orderData[j]._id %>"
                                                                        class="btn btn-outline-primary-2 shop-button">SHOP <i class="icon-long-arrow-right"></i></a>
                                                                <% } else if (orderData[j].status === 'Returned') { %>
                                                                    <a href="/viewMore" data-type="order" data-id="<%= orderData[j]._id %>"
                                                                        class="btn btn-outline-primary-2 shop-button">SHOP <i class="icon-long-arrow-right"></i></a>
                                                                <% } else { %>
                                                                    <a href="/cancelPage" data-type="order" data-id="<%= orderData[j]._id %>"
                                                                        class="btn btn-outline-primary-2 cancel-button">CANCEL<i class="icon-long-arrow-right"></i></a>
                                                                <% } %>
                                                            </td>
                                                            <td>
                                                                <% if(orderData[j].status == "Delivered"){ %>
                                                                  <div class="col-6 col-lg-4 col-xl-2">
                                                                    <div class="btn-wrap">
                                                                      <a href="/invoice/<%= value._id %>" class="btn btn-outline-dark btn-round" style="padding: 5px 10px; font-size: 12px;">Download Invoice</a>
                                                                    </div><!-- End .btn-wrap -->
                                                                  </div><!-- End .col-md-4 col-lg-2 -->
                                                                <% } %>
                                                              </td>
                                                              
                                                        </tr>
                                                    <% } %>
                                                <% } %>
                                            <% } else { %>
                                                <tr>
                                                    <td >
                                                        <a href="/shop-now" class="btn btn-primary">
                                                            <button>Shop Now</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    
                                </div>


                                <div class="tab-pane fade" id="tab-downloads" role="tabpanel"
                                    aria-labelledby="tab-downloads-link">
                                    <p>No downloads available yet.</p>
                                    <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                    aria-labelledby="tab-address-link">

                                    <p>The following addresses will be used on the checkout page by default.</p>
                                    <a href="/addAddress">

                                        <button type="submit" class="btn btn-outline-primary-2 float-right">
                                            <span>+ ADD ADDRESS</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </a>
                                    <!-- <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </div> -->
                                    <div class="row">


                                        <% if (UserAddress && UserAddress.length> 0) { %>
                                            <% for (let i=0; i < UserAddress.length; i++) { %>
                                                <div class="col-lg-6">
                                                    <div class="card card-dashboard">
                                                        <div class="card-body">
                                                            <!-- PENDING                 -->
                                                            <a href="/deleteAddress?id=<%= UserAddress[i]._id %>"><i
                                                                    class="bi bi-trash3 float-right"></i></a>

                                                            <h3 class="card-title">Billing Address</h3>
                                                            <!-- End .card-title -->
                                                            <% if (UserAddress[i].address &&
                                                                UserAddress[i].address.length> 0) { %>
                                                                <!-- Use a for loop to iterate through the address array -->
                                                                <% for (let j=0; j < UserAddress[i].address.length; j++)
                                                                    { %>
                                                                    <p>
                                                                        <%= UserAddress[i].address[j].fullname %><br>
                                                                            <%= UserAddress[i].address[j].mobile %><br>
                                                                                <%= UserAddress[i].address[j].email %>
                                                                                    <br>
                                                                                    <%= UserAddress[i].address[j].houseNo
                                                                                        %><br>
                                                                                        <%= UserAddress[i].address[j].city
                                                                                            %><br>
                                                                                            <%= UserAddress[i].address[j].state
                                                                                                %><br>
                                                                                                <%= UserAddress[i].address[j].zipcode
                                                                                                    %><br>
                                                                                                    <%= UserAddress[i].address[j].additionalDetails
                                                                                                        %><br>
                                                                    </p>
                                                                    <a href="/editAddress?id=<%= UserAddress[i]._id %>">Edit
                                                                        <i class="icon-edit"></i></a>
                                                                    <% } %>
                                                                        <% } else { %>
                                                                            <p>No billing address found.</p>
                                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% } else { %>
                                                        <p>No user addresses found.</p>
                                                        <% } %>









                                    </div><!-- .End .tab-pane -->
                                </div>
                                <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                    aria-labelledby="tab-account-link">

                                    <div class="row">

                                        <!-- IMAGE UPLOAD AND UPDATE -->
                                        <!-- <div class="col-lg-6">
                                <% if (accountDetails.image) { %>
                                    <img src="<%= accountDetails.image  %>" alt="User Profile Picture" class="img-fluid rounded-circle" style="height: 200px; width: 200px;">
                                <% } else { %>
                                    <img src="/profile/_bb5f8b05-d952-4d79-a5a4-d53490b5f23d.jpeg" alt="User Profile Picture" class="img-fluid rounded-circle profile-picture" style="height: 200px; width: 200px;">
                                <% } %>
                                <label class="col-form-label" for="profile-picture" style="margin-top: 20px;">Change Profile</label>
                                <form action="/editImage" method="post" enctype="multipart/form-data">
                                  <input type="file" accept="image/*" name="image" class="form-control file-upload-info" placeholder="Upload Image" id="preview-input" />
                                 
                                  <button type="submit" class="btn btn-outline-primary-2">
                                      <span>Update profile</span>
                                      <i class="icon-long-arrow-right"></i><br>
                                </form>
                            </div> -->

                                        <div class="col-lg-6">
                                            <a href="#" id="edit-profile-button"><i
                                                    class="bi bi-pen float-right"></i></a>
                                            <!-- <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Name: <b><%= accountDetails.name %></b></li>
                                    <li class="list-group-item">Email: <b><%= accountDetails.email %></b></li>
                                    <li class="list-group-item">Mobile: <b><%= accountDetails.Mobile %></b></li>
                                </ul> -->
                                            <form id="edit-profile-form" action="/updateUserDetails" method="post">
                                                <div class="mb-3" id="name-field">
                                                    <label for="exampleInputName" class="form-label">Name</label>
                                                    <input type="text" class="form-control" id="edit-name-input"
                                                        value="<%= accountDetails.name %>" name="name" readonly>
                                                </div>
                                                <div class="mb-3" id="password-field" style="display: none;">
                                                    <label for="edit-password-input" class="form-label">Password</label>
                                                    <input type="password" class="form-control" id="edit-password-input"
                                                        name="password">
                                                </div>
                                                <div class="mb-3" id="email-field">
                                                    <label for="exampleInputEmail1" class="form-label">Email
                                                        address</label>
                                                    <input type="email" class="form-control" id="edit-email-input"
                                                        value="<%= accountDetails.email %>" name="email" readonly>
                                                </div>
                                                <div class="mb-3" id="mobile-field">
                                                    <label for="edit-mobile-input" class="form-label">Mobile</label>
                                                    <input type="text" class="form-control" id="edit-mobile-input"
                                                        value="<%= accountDetails.Mobile %>" name="Mobile" readonly>
                                                </div>

                                                <button type="submit" class="btn btn-primary"
                                                    id="edit-profile-submit-button"
                                                    style="display: none;">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-6">
                                        <% if (accountDetails.image) { %>
                                            <div class="d-flex justify-content-center">
                                                <a href="/profile/deletePhoto"
                                                    class="btn btn-danger profile-button">Remove profile</a>
                                            </div>
                                            <% } %>
                                                <!-- <div class="col-lg-12">
                                    <a href="/">
                                        <button class="btn btn-outline-primary-2">
                                            <span>CHANGE PASSWORD</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </a>
                                  
                                </div> -->
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle the cancel button click event
            $('.cancel-button').click(function () {
                const $button = $(this);
                const type = $button.data('type');
                const id = $button.data('id');

                $.ajax({
                    type: 'POST',
                    url: '/cancelOrder',
                    data: {
                        type: type,
                        id: id
                    },
                    success: function (data) {
                        if (data.success) {
                            // Update the status column without reloading the page
                            $button.parent().find('span').text(type === 'order' ? 'Order Status: cancelled' : 'Product Status: cancelled');
                        } else {
                            console.error('Failed to cancel ' + type);
                        }
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
        $(document).ready(function () {
            // Handle the cancel button click event
            $('.return-button').click(function () {
                const $button = $(this);
                const type = $button.data('type');
                const id = $button.data('id');

                $.ajax({
                    type: 'POST',
                    url: ' /returnOrder',
                    data: {
                        type: type,
                        id: id
                    },
                    success: function (data) {
                        if (data.success) {
                            // Update the status column without reloading the page
                            $button.parent().find('span').text(type === 'order' ? 'Order Status: Returned' : 'Product Status: Returned');
                        } else {
                            console.error('Failed to Return ' + type);
                        }
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
       
    </script>
    <%- include('../layout/footer.ejs') -%>