<%- include('../layout/header.ejs') -%>



    <div class="page-wrapper">


        <main class="main">
            <div class="intro-slider-container">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light mb-0" data-toggle="owl">
               
                    <div class="intro-slide"
                        style="background-image: url(user/images/demos/demo-8/slider/slide-2.jpg);">
                        <div class="container intro-content text-right">
                            <h3 class="intro-subtitle">PREMIUM QUALITY</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title">coats <span class="highlight">&</span><br>jackets</h1>
                            <!-- End .intro-title -->

                            <a href="/viewMore" class="btn">
                                <span>SHOP NOW</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>
                        </div><!-- End .intro-content -->
                        <img class="position-left" src="user/images/demos/demo-8/slider/img-2.png">
                    </div><!-- End .intro-slide -->

                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <div class="mb-3"></div><!-- End .mb-6 -->
            <div class="mb-3 mb-xl-2"></div><!-- End .mb-3 -->

            <div class="trending">
                <a href="#">
                    <img src="user/images/demos/demo-8/banners/banner-4.jpg" alt="Banner">
                </a>
                <div class="banner banner-big d-md-block">
                    <div class="banner-content text-center">
                        <h4 class="banner-subtitle text-white">Trending</h4><!-- End .banner-subtitle -->
                        <h3 class="banner-title text-white">New League</h3><!-- End .banner-title -->
                        <p class="d-none d-lg-block text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit.<br>Donec odio. Quisque volutpat mattis eros. </p>

                        <a href="/freshArrivals" class="btn btn-primary-white"><span>Shop Now</span><i
                                class="icon-long-arrow-right"></i></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div>
            <div class="container new-arrivals">
                <div class="row">
                    <div class="col-md-6">
                        <div class="banner banner-overlay">
                            <a href="/categorywoMen">
                                <img src="user/images/demos/demo-8/banners/banner-5.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle d-none d-lg-block"><a href="#">New Arrivals</a></h4>
                                <!-- End .banner-subtitle -->
                                <h3 class="banner-title"><a href="#">Women’s</a></h3><!-- End .banner-title -->
                                <a href="/categorywoMen" class="btn btn-outline-white banner-link">Shop Now <i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="banner banner-overlay">
                            <a href="/categoryMen">
                                <img src="user/images/demos/demo-8/banners/banner-6.jpg" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle d-none d-lg-block"><a href="#">New Arrivals</a></h4>
                                <!-- End .banner-subtitle -->
                                <h3 class="banner-title "><a href="#">Men’s</a></h3><!-- End .banner-title -->
                                <a href="/categoryMen" class="btn btn-outline-white banner-link">Shop Now <i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- End .mb-5 -->

            <div class="container recent-arrivals">
                <div class="heading heading-flex align-items-center mb-3">
                    <h2 class="title title-lg">FLAT OFF</h2><!-- End .title -->
          
                </div><!-- End .heading -->

                <div class="tab-content">
                    <div class="tab-pane p-0 fade show active" id="recent-all-tab" role="tabpanel" aria-labelledby="recent-all-link">
                        <div class="products">
                            <div class="row justify-content-center">
                
                                <% products.forEach((product, i)=> { %>
                                <div class="col-6 col-md-4 col-lg-3">
                                    <div class="product product-2 text-center">
                                        <figure class="product-media">
                                            <% const productDiscount=discPrice.find(x=> x.product.toString() === product._id.toString() && x.is_block === 0); %>
                                            <% let smallestPrice = Math.min(product.price, product.discountPricepro || Infinity, product.discountPricecat || Infinity); %>
                                            <% if (productDiscount) { %>
                                            <span class="product-label label-new">
                                                <%= productDiscount.percentage %>% off
                                            </span>
                                            <% } %>
                                            <a href="/productView?id=<%= product._id %>">
                                                <img src="/products/images/<%= product.image[0] %>" alt="Product image" class="product-image">
                                                <img src="/products/images/<%= product.image[1] %>" alt="Product image" class="product-image-hover">
                                            </a>
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable" onclick="addToWishlist('<%= product._id %>')">
                                                    <span>add to wishlist</span>
                                                </a>
                                            </div><!-- End .product-action-vertical -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart" onclick="addToCart('<%= product._id %>')">
                                                    <span>add to cart</span>
                                                </a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->
                                        <div class="product-body">
                                            <div class="product-cat">
                                                <%= product.category %>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><%= product.productname %></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <% if (smallestPrice && smallestPrice < product.price) { %>
                                                <span class="old-price"> Was<strike>₹<%= product.price %></strike></span>
                                                </div>
                                                <div class="product-price">
                                                    <span class="new-price">Now<b>₹<%= smallestPrice %></b></span>
                                                <% } else { %>
                                                    ₹<%= product.price %>
                                                <% } %>
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-6 col-md-4 col-lg-3 -->
                                <% }); %>
                
                            </div><!-- End .row -->
                        </div><!-- End .products -->
                    </div><!-- .End .tab-pane -->
                </div>
                
                    <!-- LIST NEW PRODUCTS -->
                    <div class="more-container text-center mt-3 mb-3">
                        <a href="/viewMore" class="btn btn-outline-dark-3 btn-more"><span>View More</span><i
                                class="icon-long-arrow-right"></i></a>
                    </div><!-- End .more-container -->
                </div><!-- End .container -->

                <div class="mb-7"></div><!-- End .mb-5 -->

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-sm-6">
                            <div class="icon-box icon-box-card text-center">
                                <span class="icon-box-icon">
                                    <i class="icon-rocket"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                                    <p>Free shipping for all orders </p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-lg-4 col-sm-6 -->

                        <div class="col-lg-4 col-sm-6">
                            <div class="icon-box icon-box-card text-center">
                                <span class="icon-box-icon">
                                    <i class="icon-rotate-left"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                                    <p>Free 100% money back guarantee</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-lg-4 col-sm-6 -->

                        <div class="col-lg-4 col-sm-6">
                            <div class="icon-box icon-box-card text-center">
                                <span class="icon-box-icon">
                                    <i class="icon-life-ring"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                                    <p>Alway online feedback 24/7</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-lg-4 col-sm-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->

                <div class="container instagram">
                    <div class="heading text-center">
                        <h2 class="title title-lg">Follow Us On Instagram</h2><!-- End .title -->
                        <p class="title-desc">Wanna share your style with us?</p><!-- End .title-desc -->
                    </div><!-- End .heading -->
                </div><!-- End .container -->

              
        </main><!-- End .main -->
        <script>
            function addToWishlist(productId) {
                // Prevent the default behavior of the link
                event.preventDefault();

                $.ajax({
                    url: '/addToWishlist',
                    type: 'POST',
                    data: { id: productId },
                    success: function (data) {
                        if (data.result) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Added to Wishlist!',
                                text: 'Product has been added to your Wishlist successfully!',
                            });
                        } else {
                            Swal.fire({
                                icon: 'info',
                                title: 'Failed to Add to Wishlist',
                                text: 'Product may already be in the Wishlist.',
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Error adding to Wishlist. Please try again later.',
                        });
                    }
                });
            }

            function addToCart(productId) {
                $.ajax({
                    url: "/addToCart",
                    method: "post",
                    data: {
                        id: productId,
                    },
                    success: (response) => {
                        if (response.login === true) {
                            Swal.fire({
                                icon: "warning",
                                title: "Please Login",
                                confirmButtonColor: "#3085d6",
                                confirmButtonText: "Login",
                                showCancelButton: true,
                                cancelButtonColor: "#d33",
                                text: response.message,
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "/login";
                                }
                            });
                        } else if (response.result) {
                            Swal.fire({
                                icon: "success",
                                title: "Product Added to Cart",
                                text: "Your product has been added to the cart.",
                            }).then(() => {
                                window.location.href = "/cart";
                            });
                        } else if (response.alreadyAdded) {
                            Swal.fire({
                                icon: "info",
                                title: "Already Added to Cart",
                                text: "Count of the product has been Incremented.",
                            });
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Sorry, product is Out Of Stock",
                                text: response.message,
                            });
                        }
                    },
                });
            }
        </script>
        <%- include('../layout/footer.ejs') -%>